body {
    background-color: white;
    margin: 0;
}

header {
    background-color: gray;

    margin: 0px;

    width: 100%;
    height: 60px;
}

#header-logo {
    height: 100%;
    margin: 0;
}

.header-right {
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
}

a {
    height: 100%;
    padding: 20px;
    background-color: burlywood;
}



#main {
    margin: 30px;
}

